/*6*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
main .entrenamiento .entrenamiento-tarjetas, main .sede-flex {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

main .tienda .titulo, main .titulo, main .entreno .titulo, main section .titulo {
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  background-color: #FFFD00;
  color: #0D0E0E;
  padding: 20px;
  text-align: center;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.boton-amarillo a {
  text-decoration: none;
  color: #0D0E0E;
  transition: 800ms;
  font-size: 20px;
  font-weight: 800;
}
.boton-amarillo a:hover {
  color: #46B4BF;
}

.wassap a img {
  width: 70px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

@media screen and (max-width: 1227px) {
  body main section .conocer-grid {
    margin: 5px 0px 5px 0px;
    padding: 0px 100px 30px 100px;
  }
}
@media screen and (max-width: 1040px) {
  body main .objt .cards-objetivos {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media screen and (max-width: 1000px) {
  body main .entrenamiento .entrenamiento-tarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  body main .entrenamiento .entrenamiento-tarjetas div {
    width: 95%;
    margin: 15px;
  }
}
@media screen and (max-width: 900px) {
  body main .tienda .tienda-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 900px) {
  body main .tienda .tienda-grid {
    width: 100%;
    display: inline-block;
  }
}
@media screen and (max-width: 760px) {
  body main section .conocer-grid {
    display: inline-block;
  }
  body main .profe .profe-flex {
    text-align: center;
    flex-direction: column;
  }
  body main .profe .profe-flex div a img {
    margin-top: 15px;
  }
  body main .profe .profe-flex div h4 {
    margin-top: 5px;
    font-size: 25px;
  }
}
@media screen and (max-width: 590px) {
  body main .nosotros {
    padding: 5px;
  }
  body main .nosotros-imagenes div {
    text-align: center;
    margin: 0px;
  }
}
@media screen and (max-width: 560px) {
  body main .objt .cards-objetivos {
    margin-left: 5%;
    margin-right: 5%;
  }
  body main .objt .cards-objetivos .card-body .card-title {
    font-size: 20px;
  }
  body main .objt .cards-objetivos .card-body .card-text {
    font-size: 18px;
  }
}
@media screen and (max-width: 558px) {
  body main section .conocer-grid {
    margin: 5px 0px 5px 0px;
    padding: 5px 15px 30px 15px;
  }
}
@media screen and (max-width: 530px) {
  body main .nosotros {
    padding: 5px;
  }
  body main .nosotros-imagenes div {
    text-align: center;
    margin: 0px;
  }
}
@media screen and (max-width: 500px) {
  .distancia {
    width: 100%;
  }
  .mixto {
    width: 100%;
  }
}
@media screen and (max-width: 470px) {
  body main .entreno .titulo {
    font-size: 30px;
  }
  body main .entreno h3 {
    font-size: 30px;
  }
  body main .sede-flex {
    align-items: center;
    margin: 0px;
  }
  body main .sede-flex .sede {
    width: 95%;
    margin: 0px;
  }
  body main .sede-flex .sede h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 460px) {
  body main .entreno .titulo {
    font-size: 30px;
  }
  body main .entreno h3 {
    font-size: 30px;
  }
  body main .sede-flex {
    align-items: center;
    margin: 0px;
  }
  body main .sede-flex .sede {
    width: 95%;
    margin-bottom: 10px;
  }
  body main .sede-flex .sede h3 {
    font-size: 30px;
  }
  body main .sede-flex .sede div iframe {
    text-align: center;
    width: 98%;
    height: 250px;
    border-radius: 20px;
  }
  body main .sede-flex .sede .horario-parrafo {
    margin-bottom: 5px;
  }
  body main .sede-flex .sede .horario-parrafo p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #46B4BF;
    text-align: center;
  }
  body main .sede-flex .sede h4 {
    display: inline-block;
  }
  body .distancia {
    width: 100%;
  }
  body .mixto {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  body main .somos-rufit div {
    width: 75%;
  }
  body main .nosotros {
    padding: 5px;
  }
  body main .nosotros .nosotros-imagenes div {
    text-align: center;
    margin: 0px;
    padding: 0px;
  }
  body main .tienda .tienda-grid .grid-item .venta {
    padding-left: 10px;
  }
  body main .tienda .tienda-grid .grid-item .venta h3 {
    font-size: 15px;
  }
  body main .tienda .tienda-grid .grid-item .venta h4 {
    margin-top: 5px;
  }
  body main .tienda .tienda-grid .grid-item .venta h4 a {
    margin-top: 3px;
    font-size: 15px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 430px) {
  .distancia {
    width: 100%;
  }
  .mixto {
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  .distancia {
    width: 100%;
  }
  .mixto {
    width: 100%;
  }
  .profe-flex div a img {
    width: 300px;
  }
}
/**CONOCENOS**/
main section .conocer-grid {
  background-image: url(../images/FOTOFONDO-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
  padding: 30px 300px 30px 300px;
}
main section .conocer-grid .conocer-cabezal {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0px;
}
main section .conocer-grid .conocer-cabezal p {
  font-size: 20px;
  font-weight: 400;
}
main section .conocer-grid .conocer-titulo {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
main section .conocer-grid .conocer-titulo h3 {
  color: #46B4BF;
  font-size: 40px;
  text-decoration: none;
  text-align: center;
  align-content: center;
  font-family: "Poppins", sans-serif;
}
main section .conocer-grid div {
  color: #F1F2F1;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: left;
  margin: 10px 0px 10px 0px;
}
main section .conocer-grid div p {
  color: #F1F2F1;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: left;
  margin: 20px 0px 20px 0px;
}
main section .conocer-grid div p img {
  width: 25px;
  padding-right: 7px;
}
main section .conocer-grid div p span {
  font-family: "Poppins", sans-serif;
  color: #FFFD00;
  margin-top: 10px;
  font-size: 20px;
  text-decoration: none;
  font-weight: 400;
}
main section .conocer-grid .conocer-pie {
  grid-column-start: 1;
  grid-column-end: 3;
}
main section .conocer-grid .conocer-pie p {
  font-size: 20px;
  font-weight: 400;
}
main .profe {
  width: 100%;
  height: auto;
  text-align: center;
  padding-bottom: 30px;
  background-color: #F1F2F1;
}
main .profe h3 {
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  padding: 20px 20px 0px 20px;
  color: #46B4BF;
}
main .profe .profe-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main .profe .profe-flex div a img {
  border-radius: 10px;
}
main .profe .profe-flex h4 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #185454;
  margin-top: 5px;
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  align-content: center;
}
main .profe .boton-amarillo {
  background-color: #FFFD00;
  display: inline-block;
  padding: 20px;
  border-radius: 20px;
  color: #0D0E0E;
  font-family: "Poppins", sans-serif;
}
main .profe-ketbell img {
  width: 50px;
  transition: 1s;
}
main .profe-ketbell img:hover {
  transform: rotate(-30deg);
}

/**FIN CONOCENOS**/
/**ENTRENAMIENTO**/
main .entreno h3 {
  font-size: 35px;
  font-weight: 900;
  padding: 10px 20px 10px 20px;
  color: #185454;
  font-family: "Poppins", sans-serif;
}
main .entreno h3 img {
  width: 25px;
  transition: 50ms;
}
main .entreno h3 img:hover {
  transform: rotate(20deg);
}
main .entreno p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 10px 20px 10px 20px;
  text-align: left;
  background-color: #F1F2F1;
}
main .sede-flex .sede {
  height: auto;
  margin: 10px;
  text-align: center;
  border-radius: 25px;
  background: rgb(237, 237, 237);
  background: linear-gradient(90deg, rgb(237, 237, 237) 0%, rgb(240, 240, 240) 52%, rgb(237, 237, 237) 100%);
  margin-bottom: 50px;
}
main .sede-flex .sede h3 {
  font-size: 30px;
  font-family: "Poppi ns", sans-serif;
  font-weight: 900;
  padding: 10px;
  color: #185454;
  text-align: center;
}
main .sede-flex .sede div iframe {
  width: 450px;
  height: 300px;
  padding: 10px;
  border-radius: 20px;
}
main .sede-flex .sede div .horario-parrafo {
  margin-bottom: 5px;
}
main .sede-flex .sede div .horario-parrafo p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #46B4BF;
  text-align: center;
}
main .sede-flex .sede div .boton-amarillo {
  background-color: #FFFD00;
  display: inline-block;
  padding: 20px;
  border-radius: 20px;
  color: #0D0E0E;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}
main .distancia {
  padding: 60px 20px 60px 20px;
  background-color: #0D0E0E;
}
main .distancia h2 {
  font-size: 35px;
  font-weight: 900;
  padding: 10px;
  color: #F1F2F1;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
}
main .distancia h2 img {
  width: 25px;
  transition: 50ms;
}
main .distancia h2 img:hover {
  transform: rotate(10deg);
}
main .distancia .boton-amarillo {
  background-color: #FFFD00;
  display: inline-block;
  padding: 20px;
  border-radius: 20px;
  color: #0D0E0E;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}
main p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
  color: #46B4BF;
}
main h3 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin: 10px 0px 10px 0px;
  color: #F1F2F1;
}
main h4 {
  margin-top: 20px;
}

.mixto {
  padding: 60px 20px 60px 20px;
  background-color: #46B4BF;
}
.mixto h2 {
  font-size: 35px;
  font-weight: 900;
  color: #185454;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
.mixto h2 img {
  width: 25px;
  transition: 50ms;
}
.mixto h2 img:hover {
  transform: rotate(-15deg);
}
.mixto p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
  color: #0D0E0E;
}
.mixto .boton-amarillo {
  background-color: #FFFD00;
  display: inline-block;
  padding: 20px;
  border-radius: 20px;
  color: #0D0E0E;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

/**FIN ENTRENAMIENTO**/
/**INDEX**/
main .somos-rufit {
  color: #FFFD00;
  width: 100%;
  height: 500px;
  text-align: center;
  background-image: url(../images/fondo-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
main .somos-rufit h2 {
  font-size: 70px;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
main .somos-rufit div {
  margin: 5px;
  font-size: 20px;
  background-color: rgba(70, 181, 191, 0.6862745098);
  padding: 20px;
  color: #F1F2F1;
  border-radius: 10px;
}
main .somos-rufit div p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #F1F2F1;
}
main .somos-rufit .boton-amarillo {
  background-color: #FFFD00;
  display: inline-block;
  padding: 20px;
  border-radius: 20px;
  color: #0D0E0E;
}
main .entrenamiento {
  background-color: #0D0E0E;
  padding-bottom: 50px;
}
main .entrenamiento h2 {
  font-size: 35px;
  font-weight: 900;
  padding: 20px;
  color: #F1F2F1;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
}
main .entrenamiento .entrenamiento-tarjetas div {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  color: #F1F2F1;
  background-color: #46B4BF;
  padding: 40px;
  border-radius: 10px;
  width: 25%;
}
main .entrenamiento .entrenamiento-tarjetas div h3 {
  color: #F1F2F1;
  font-size: 30px;
  font-weight: 800;
}
main .entrenamiento .entrenamiento-tarjetas div p {
  color: #F1F2F1;
  font-weight: 500;
}
main .entrenamiento .entrenamiento-tarjetas div .boton-amarillo {
  background-color: #FFFD00;
  display: inline-block;
  padding: 20px;
  border-radius: 20px;
  color: #0D0E0E;
  font-family: "Poppins", sans-serif;
}
main .nosotros {
  background-color: #F1F2F1;
  padding: 40px 20px 40px 20px;
  border-top: #F1F2F1 10px solid;
  border-bottom: #F1F2F1 10px solid;
}
main .nosotros h2 {
  font-size: 35px;
  font-weight: 900;
  color: #46B4BF;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
}
main .nosotros .nosotros-imagenes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
main .nosotros .nosotros-imagenes div {
  text-align: center;
  margin: 0px 90px 0px 90px;
}
main .nosotros .nosotros-imagenes div img {
  width: 300px;
  height: autos;
  border-radius: 10px;
  box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.1843137255);
  -webkit-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.1843137255);
  -moz-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.1843137255);
}
main .nosotros .nosotros-imagenes h3 a {
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
  color: #46B4BF;
  font-weight: 800;
  text-decoration: none;
  font-size: 30px;
  transition: font-size, 80ms;
}
main .nosotros .nosotros-imagenes h3 a:hover {
  font-size: 33px;
}
main .marquesina {
  background-color: #FFFD00;
  text-align: center;
}
main .marquesina a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #0D0E0E;
  font-weight: 800;
  font-size: 20px;
}
main .contacto-form {
  background-color: #46B4BF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  height: auto;
  width: 100%;
}
main .contacto-form h2 {
  padding-top: 10px;
  font-size: 35px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}
main .contacto-form form {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: left;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: #185454;
}
main .contacto-form form div {
  padding: 5px;
}
main .contacto-form form div div {
  padding-bottom: 10px;
}
main .contacto-form form div div label {
  padding-bottom: 5px;
  align-content: flex-start;
}
main .contacto-form form div div input {
  width: 100%;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
}
main .contacto-form form div div textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #FFFD00, #46B4BF, #0D0E0E, #185454, #F1F2F1, #ededed, 5;
  border-radius: 5px;
}

/**FIN INDEX**/
/**OBJETIVO**/
main .objt {
  background-image: url(../images/textura-objt-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
main .objt p {
  font-size: 20px;
  color: #F1F2F1;
  padding: 0% 5% 0% 5%;
}
main .objt h3 {
  text-align: center;
  color: #F1F2F1;
  padding: 0% 5% 0% 5%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
}
main .objt .cards-objetivos {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 20%;
  margin-right: 20%;
}
main .objt .cards-objetivos .card-body {
  background-color: #F1F2F1;
}
main .objt .cards-objetivos .card-body .card-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #46B4BF;
}
main .objt .cards-objetivos .card-body .card-text {
  color: #0D0E0E;
  font-family: "Roboto", sans-serif;
}
main .objt .cards-objetivos .card-body .card-text .bi-geo-alt-fill {
  color: #FFFD00;
}
main .objt .cards-objetivos .card-body .card-text .bi-calendar3-event-fill {
  color: #FFFD00;
}
main .objt .cards-objetivos .card-body h4 a {
  display: inline-block;
  text-align: center;
  padding: 10px;
  background-color: #FFFD00;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  color: #0D0E0E;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 10px;
  transition: 800ms;
}
main .objt .cards-objetivos .card-body h4 a:hover {
  color: #46B4BF;
}

/**TIENDA**/
main .tienda .tienda-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 500px;
  gap: 5px;
  margin: 5px 0px 5px 0px;
}
main .tienda .tienda-grid .grid-item {
  position: relative;
}
main .tienda .tienda-grid .grid-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .tienda .tienda-grid .grid-item .venta {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4196078431);
  width: 100%;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
}
main .tienda .tienda-grid .grid-item .venta h3 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #F1F2F1;
}
main .tienda .tienda-grid .grid-item .venta h4 a {
  display: inline-block;
  text-align: center;
  padding: 10px;
  background-color: #FFFD00;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  color: #185454;
  margin-top: 10px;
  font-size: 15px;
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: 700;
}
main .tienda .tienda-grid .grid-item .venta h4 a:hover {
  color: #46B4BF;
}
main .tienda .tienda-grid .img-1 {
  grid-column: span 2;
}
main .tienda .tienda-grid .img-2 {
  grid-column: span 2;
}

/**FIN TIENDA**/
.redes {
  background-color: #0D0E0E;
  text-align: center;
  padding: 20px 0px 20px 0px;
}
.redes h2 {
  color: #46B4BF;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  padding-bottom: 15px;
}
.redes .redes-flex {
  display: flex;
  justify-content: space-evenly;
}
.redes .redes-flex a .bi-facebook {
  font-size: 50px;
  color: #F1F2F1;
  transition: 1s;
}
.redes .redes-flex a .bi-facebook:hover {
  color: #FFFD00;
}
.redes .redes-flex a .bi-instagram {
  font-size: 50px;
  color: #F1F2F1;
  transition: 1s;
}
.redes .redes-flex a .bi-instagram:hover {
  color: #FFFD00;
}
.redes .redes-flex a .bi-youtube {
  font-size: 50px;
  color: #F1F2F1;
  transition: 1s;
}
.redes .redes-flex a .bi-youtube:hover {
  color: #FFFD00;
}

.navbar {
  font-family: "Poppins", sans-serif;
}

.navbar-brand img {
  width: 150px;
  height: 150px;
}

.navbar-toggler-icon {
  background-color: #46B4BF;
  border-radius: 5px;
  border: solidnth(#FFFD00, #46B4BF, #0D0E0E, #185454, #F1F2F1, #ededed, 5) 1px;
}

.navbar-color {
  background-color: #0D0E0E;
}

.navbar-nav .nav-link {
  color: #F1F2F1;
  font-size: 20px;
  transition: 800ms;
}
.navbar-nav .nav-link:hover {
  color: #FFFD00;
}

.navbar-nav .nav-link.active {
  color: #46B4BF;
}/*# sourceMappingURL=estilos.css.map */