/**CONOCENOS**/
main {
    section {
        .titulo {
            @extend %titulo-top;
        }

        .conocer-grid {
            background-image: url(../images/FOTOFONDO-03.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            gap: 10px;
            padding: 30px 300px 30px 300px;

            .conocer-cabezal {
                grid-column-start: 1;
                grid-column-end: 3;
                margin: 0px;

                p {
                    font-size: 20px;
                    font-weight: 400;
                }
            }

            .conocer-titulo {
                grid-column-start: 1;
                grid-column-end: 3;
                text-align: center;
                font-family: "Poppins", sans-serif;
                margin: 0px;

                h3 {
                    color: nth($paleta-colores, 2);
                    font-size: 40px;
                    text-decoration: none;
                    text-align: center;
                    align-content: center;
                }

            }

            div {
                color: nth($paleta-colores, 5);
                font-size: 17px;
                font-family: "Roboto", sans-serif;
                font-weight: 300;
                text-align: left;
                margin: 10px 0px 10px 0px;

                p {
                    color: nth($paleta-colores, 5);
                    font-size: 17px;
                    font-family: "Roboto", sans-serif;
                    font-weight: 300;
                    text-align: left;
                    margin: 20px 0px 20px 0px;

                    img {
                        width: 25px;
                        padding-right: 7px;
                    }

                    span {
                        font-family: "Poppins", sans-serif;
                        color: nth($paleta-colores, 1);
                        margin-top: 10px;
                        font-size: 20px;
                        text-decoration: none;
                        font-weight: 400;
                    }
                }
            }

            .conocer-pie {
                grid-column-start: 1;
                grid-column-end: 3;

                p {
                    font-size: 20px;
                    font-weight: 400;
                }
            }
        }
    }

    .profe {
        width: 100%;
        height: auto;
        text-align: center;
        padding-bottom: 30px;
        background-color: nth($paleta-colores, 5);

        h3 {
            font-size: 35px;
            font-family: "Poppins", sans-serif;
            font-weight: 900;
            padding: 20px 20px 0px 20px;
            color: nth($paleta-colores, 2);
        }

        .profe-flex {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            div {
                a {
                    img {
                        border-radius: 10px;
                    }
                }
            }

            h4 {
                text-align: center;
                font-family: "Poppins", sans-serif;
                color: nth($paleta-colores, 4);
                margin-top: 5px;
                font-size: 25px;
                text-decoration: none;
                text-align: center;
                align-content: center;
            }
        }

        .boton-amarillo {
            background-color: map-get($boton-gd, bg-boton);
            display: map-get($boton-gd, display-boton);
            padding: map-get($boton-gd, pad-b);
            border-radius: map-get($boton-gd, borde);
            color: map-get($boton-gd, color-b);
            font-family: "Poppins", sans-serif;
        }

    }

    .profe-ketbell {
        img {
            width: 50px;
            transition: 1s;

            &:hover {
                transform: rotate(-30deg);

            }
        }
    }
}


/**FIN CONOCENOS**/