/**ENTRENAMIENTO**/
main {
    .entreno {
        .titulo {
            @extend %titulo-top;
        }

        h3 {
            @include subtitulo(35px, 900);
            padding: 10px 20px 10px 20px;
            color: nth($paleta-colores, 4);
            font-family: "Poppins", sans-serif;
            img {
                width: 25px;
                transition: 50ms;

                &:hover {
                    transform: rotate(20deg);
                }

            }
        }

        p {
            font-size: 18px;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            padding: 10px 20px 10px 20px;
            text-align: left;
            background-color: nth($paleta-colores, 5);
        }
    }

    .sede-flex {
        @extend%align-cards;
        .sede {
            height: auto;
            margin: 5px;
            text-align: center;
            border-radius: 10px;
            background: rgb(237, 237, 237);
            background: linear-gradient(90deg, rgba(237, 237, 237, 1) 0%, rgba(240, 240, 240, 1) 52%, rgba(237, 237, 237, 1) 100%);
            margin-bottom: 50px;

            h3 {
                font-size: 30px;
                font-family: "Poppi ns", sans-serif;
                font-weight: 900;
                padding: 10px;
                color: nth($paleta-colores, 4);
                text-align: center;
            }

            div {
                iframe {
                    width: 400px;
                    height: 300px;
                    padding: 10px;
                    border-radius: 20px;
                }

                .horario-parrafo {
                    margin-bottom: 5px;

                    p {
                        font-family: "Poppins", sans-serif;
                        font-size: 20px;
                        font-weight: 500;
                        color: nth($paleta-colores, 2);
                        text-align: center;
                    }

                }

                /*.boton-amarillo {
                    background-color: map-get($boton-gd, bg-boton);
                    display: map-get($boton-gd, display-boton);
                    padding: map-get($boton-gd, pad-b);
                    border-radius: map-get($boton-gd, borde);
                    color: map-get($boton-gd, color-b);
                    font-family: "Poppins", sans-serif;
                    margin-bottom: 10px;
                }*/
            }
        }
    }

    .distancia {
        padding: 60px 20px 60px 20px;
        background-color: nth($paleta-colores, 3);

        h2 {
            @include subtitulo(35px, 900);
            padding: 10px;
            color: nth($paleta-colores, 5);
            margin-bottom: 30px;
            font-family: "Poppins", sans-serif;


            img {
                width: 25px;
                transition: 50ms;

                &:hover {
                    transform: rotate(10deg);
                }

            }

        }
    }

    p {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 5px;
        color: nth($paleta-colores, 2);
    }

    h3 {
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        margin: 10px 0px 10px 0px;
        color: nth($paleta-colores, 5);
    }

    h4 {
        margin-top: 20px;
    }

}

.mixto {
    padding: 60px 20px 60px 20px;
    background-color: nth($paleta-colores, 2);

    h2 {
        @include subtitulo(35px, 900);
        color: nth($paleta-colores, 4);
        margin-bottom: 10px;
        font-family: "Poppins", sans-serif;

        img {
            width: 25px;
            transition: 50ms;

            &:hover {
                transform: rotate(-15deg);
            }

        }
    }

    p {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 5px;
        color: nth($paleta-colores, 3);
    }

}


/**FIN ENTRENAMIENTO**/