.navbar {
    font-family: "Poppins", sans-serif;
}

.navbar-brand img {
    width: 150px;
    height: 150px;
}

.navbar-toggler-icon {
    background-color: #00a8a8;
    border-radius: 5px;
    border: solid #F1F2F1 1px;
}

.navbar-color {
    background-color: #0e0e0d
}

.navbar-nav {
    .nav-link {
        color: #F1F2F1;
        font-size: 20px;
        transition: 800ms;
        
        &:hover {
            color: #FFFD00;
        }
    }
}

.navbar-nav .nav-link.active {
    color: #46B4BF;
}