/**OBJETIVO**/
main {
    .titulo {
        @extend %titulo-top;
    }

    .objt {
        background-color: nth($paleta-colores, 5);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

        .objt-text {
            font-size: 20px;
            color: nth($paleta-colores, 5);
            padding: 0% 5% 0% 5%;
            background-color: nth($paleta-colores, 2);
            font-family: "Roboto", sans-serif;
            font-weight: 900;
            font-style: italic;
            font-size: 25px;
        }

        h3 {
            text-align: center;
            color: nth($paleta-colores, 2);
            padding: 0% 5% 0% 5%;
            text-align: center;
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            font-size: 30px;
        }

        .cards-objetivos {
            display: flex;
            height: auto;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin-left: 20%;
            margin-right: 20%;

            .card-body {
                background-color: nth($paleta-colores, 5);

                .card-title {
                    font-family: "Poppins", sans-serif;
                    font-weight: 700;
                    font-size: 25px;
                    color: nth($paleta-colores, 2);
                }

                .card-text {
                    color: nth($paleta-colores, 3);
                    font-family: "Roboto", sans-serif;

                    .bi-geo-alt-fill {
                        color: nth($paleta-colores, 1);
                    }

                    .bi-calendar3-event-fill {
                        color: nth($paleta-colores, 1);
                    }
                }

                h4 {
                    a {
                        display: inline-block;
                        text-align: center;
                        padding: 10px;
                        background-color: nth($paleta-colores, 1);
                        border-radius: 10px;
                        font-family: "Poppins", sans-serif;
                        color: nth($paleta-colores, 3);
                        margin-top: 10px;
                        font-size: 20px;
                        font-weight: 700;
                        text-decoration: none;
                        margin-bottom: 10px;
                        transition: 800ms;

                        &:hover {
                            color: nth($paleta-colores, 2);
                        }
                    }
                }
            }
        }
    }
}