@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

.boton-amarillo {
    background-color: map-get($boton-gd, bg-boton);
    display: map-get($boton-gd, display-boton);
    padding: map-get($boton-gd, pad-b);
    border-radius: map-get($boton-gd, borde);
    color: map-get($boton-gd, color-b);
    font-family: "Poppins", sans-serif;
    transition: 1s;
        a {
            text-decoration: none;
            color: nth($paleta-colores, 3);
            transition: 1s;
            font-size: 20px;
            font-weight: 800;
            &:hover {
                color: nth($paleta-colores, 5);
            }
        }
        &:hover {
            background-color: map-get($boton-gd-hover, bg-boton);
    }
}

.wassap {
    a {
        img {
            width: 70px;
            position: fixed;
            bottom: 20px;
            right: 20px;
        }
    }
}